@charset "utf-8";
/* CSS Document */

@keyframes bg-anim{
	0%{background-color:#000;}
	100%{background-color:#0a0a0a;}
}

@keyframes title-anim_emergence{
	0%{
		opacity: 0;
		transform: scale(2.5,2.5);
	}
	10%{transition: scale(1.5,1.5);
		opacity: 0;
	}
	100%{
		opacity:1;
		transform: scale(1,1);
	}
}

@keyframes title-anim_static{
	0%{
		border-right: none;
	}
	50%{
		border-right: solid 2px #fff;
	}
	100%{
		border-right: none;
	}
}

@keyframes project-anim_emergence{
	0%{
		transform: translateY(-110px);
		opacity: 0;
	
	}
	50%{
		
		opacity: 0;
	}
	100%{transform: translateY(-0px);
		opacity: 1;
	}
}

@keyframes opacit3{
	0%{
		opacity: 0;
		transform: translateX(-15px)
	}
	100%{
		opacity: 1;
		transform: translateX(0px)
	}
}

@keyframes anim_menu-ico_hover{
	0%{box-shadow:0px 10px 0 0 #fff, 0px 20px 0 0 #fff}
	16%{box-shadow:5px 10px 0 0 #fff, 0px 20px 0 0 #fff}
	32%{box-shadow:5px 10px 0 0 #fff, 10px 20px 0 0 #fff}
	48%{box-shadow:5px 10px 0 0 #fff, 10px 20px 0 0 #fff}
	64%{box-shadow:5px 10px 0 0 #fff, 0px 20px 0 0 #fff}
	80%{box-shadow:0px 10px 0 0 #fff, 0px 20px 0 0 #fff}
	100%{box-shadow:0px 10px 0 0 #fff, 0px 20px 0 0 #fff}
}

@font-face{
	font-family:"Hattori Hanzo";
	src: url("style/font.otf");
		
}


@keyframes arrow{
	0%{
		transform: translateY(-5px) rotate(135deg);
	}
	50%{
		transform: translateY(-0px)  rotate(135deg);
	}
	100%{
		transform: translateY(-5px) rotate(135deg);
	}
}

::selection{
	background-color: #E5E5E5;
	color:#000;
}

.new-tab:after{
	content: "" url("style/new-tab_ico-white.webp");
	padding:0px 0 0 2px;
}

html {
	scroll-behavior: smooth;
}

html, body {
	scrollbar-color: #363636 #0a0a0a;
	scrollbar-width:thin;
}

body, #title{
	padding:0;
}

.wow{
	animation:  opacit3 500ms 1;
}

body{
	margin: 0;
	min-width: 800px;
	max-width: 100%;
	font-family: 'Roboto Condensed',sans-serif;
	background-color: #090909;
}


#title, .project{
	display:inline-block;
	font-family:"Hattori Hanzo";
	color:#fff;
	left:50%;
}

#title{
	user-select: none;  
	color:#fff;
	position:absolute;
	animation: title-anim_emergence 300ms 1,title-anim_static 1.25s infinite;
	font-style:italic;
	font-size:10em;
	width:338px;
	height:auto;
	top:50%;
	margin:-156px 0 0 -169px;
}

.project{
	user-select: none; 
	animation: project-anim_emergence 1s 1;
	position:absolute;
	margin: 0 0 0 -68px;
	bottom: 20px;
	width: 136px;
	font-size: 2.8em;
	text-decoration: none;
}

.arrow{
	animation: arrow 2s 3;
	position: absolute;
	display: inline-block;
	transform: rotate(135deg);
	width: 20px;
	height: 20px;
	border-top:solid 3px #fff;
	border-right:solid 3px #fff;
	margin: 10px 0px 0px 10px;
	border-radius: 2px;
}

#fillthespace{
	height: 100vh;
	width: 0;
	display: inline-block;
}

.name{
	display: inline-block;
	margin:  5px 0px 0px 0px;
	color:#fff;
}

#c{
	text-align: center;
}

#cr{
	text-align: center;
}

#list_projects:hover  a{
	transition: 300ms;
}


#list_projects a{
	box-shadow:inset 0px -2px 0 0 rgba(238,238,238,0.14);
	text-decoration: none;
	font-size: 1.5em;
	color:#fff;
}

#list_projects a:hover{
	box-shadow:inset 0 -2px 0 0 #fff;
	color:#fff;
}

#list_projects{
	
	background-color:rgba(255,255,255,0.005);
	color:#fff;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	width:800px;
	border-radius: 10px 6px 6px 10px;
	border-right:solid 2px #161616;
	border-top:solid 2px #161616;
	border-bottom:solid 2px #161616;
	margin: 15px 0;
	padding:0 0em 0 0;
	display: inline-block;
}

#list_projects img{
	border-radius: 6px 0 0 8px;
	float: left;
}

#description{
	display: block;
	width:672px;
	font-size: 1.05em;
	margin:10px 0 0 0;
}

#description a{
	font-size: 1.05em;
}


#social{
	background-attachment: fixed;
	background-image: url("page/bofoc.webp");
	background-size: cover;
	text-align: center;
	margin: 40px 0 0 0;
	padding: 20px 0;
	background-color: #000;
}

#social_ico{
	margin: 0 15px 0 15px;
	opacity: .5;
	display: inline-block;
}

#social_ico:hover{
	opacity: 1;
}

.nezav img{
	border-right: solid 4px #941416;
}

.zav img{
	border-right: solid 4px #8C8C8C;
}

.zabr img{
	border-right: solid 4px #330026;
}

#zav_block{
	font-size: 0.98em;
	color:#8a8a8a;
	text-align: center;
}

#zav, #nezav, #zabr{
	border-radius: 100%;
	margin: 15px 2px 0 10px;
	display:inline-block;
	width: 10px;
	height: 10px;
}

#zav{
	background-color: #8C8C8C;
}

#nezav{
	background-color: #941416;
}

#zabr{
	background-color: #330026;
}

#fot_ico-menu{
	transform: scale(1.2,1.2);
	opacity: 0.8;
	margin: 20px;
	width: 45px;
	height: 23px;
}

#fot_ico-menu:hover{
	opacity: 1;
}

#menu_par{
	width: 100%;
	overflow-y:scroll;
	margin: 0 0 0 -100%;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	background-color: #000;
	padding: 0;
	transition: 100ms;
}

#menu_details{
	width: 100%;
	padding: 0;
}

#menu_content{
	text-align: center;
	color:white;
}

#menu_title{
	font-size: 18px;
	margin: 0  0 10px 0;
}

#fott_menu{
	display: inline-block;
	background-color: #111;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.menu-ico{
	width: 45px;
	height: 3px;
	background-color: #fff;
	box-shadow:0 10px 0 0 #fff, 0 20px 0 0 #fff;
}

#fot_ico-menu:hover .menu-ico{
	animation: anim_menu-ico_hover 1s infinite;
}


#description-media_sreen{
	display: none;
}

#description-media_sreen a{
	display: none;
}

#close_window{
	width: 100px;
	background-size: contain;
	position: fixed;
	top: 0;
	left: -150px;
	bottom: 0;
	background-image: url("style/grad..webp");
	transition: 150ms;
}

#ico_close{
	position: absolute;
	top:49%;
	display: inline-block;
	transform: rotate(225deg);
	width: 20px;
	height: 20px;
	border-top:solid 3px #fff;
	border-right:solid 3px #fff;
	margin:  0 0 0 22px;
	border-radius: 2px;
	
}


@media (max-width: 583px) and (min-width: 479px) {
	#description-media_sreen{
		min-width: 391px;
		max-width: 490px;
		margin: 0 0 0 0px;
	}
}

@media (max-width: 859px) and (min-width: 481px), (handheld){
	
	body{
		min-width: 480px;
		width: 100%;
	}

	
	#title{
		font-size: 7em;
		width: 240px;
		margin:-156px 0 0 -120px;
		
	}
	
	.project{
		margin: 0 0 0 -68px;
		width: 136px;
		font-size: 2.8em;
	}
	
	.name{
		padding:0;
		margin: 0;
		text-align: center;
		display: block;
		width: 100%;
		min-width: 450px;
	}

	#c{
		margin: 10px 0 0px 0;
		text-align:inherit;
	}

	#cr{
		text-align:inherit;
	}


	#list_projects a{
		font-size: 24px;
		color:#fff;
	}

	#list_projects{
		background-color: #111;
		border-radius: 0px;
		height: 80px;
		width:100%;
		min-width: 479px;
		border-bottom:solid 2px #000;
		border-top: none;
		border-left: none;
		border-right: none;
		margin: 0px 0;
		padding:  0 0 0 0;
		display: inline-block;
	}

	#list_projects img{
		border-radius: 0;
		
		width: 80px;
		height: 80px;
	}

	#description{
		display: none;
	}
	
	#description-media_sreen{
		width: 100%;
		padding: 3px 0 0 0px;
		display: inherit;
	}

	#description-media_sreen a{
		margin:  0 0 0 5px;
		font-size: 16px;
		display: inline-block;
	}
	
	description-media_sreen{
		font-size: 16px;
	}
	
	#fot_ico-menu{
		margin: 15px;
	}

	.zav img{
		border-right: solid 4px #8C8C8C;
	}
	
	.nezav img{
		border-right: solid 4px #941416;
	}
	
	.zabr img {
		border-right: solid 4px #330026;
	}
	
	#social{
		margin: 0;
	}
	
	#social_ico{
		margin: 0 5px 0 5px;
	}
}

@media (max-width: 480px), (handheld){
	body{
		width: 100%;
		min-width: 319px;
		max-width: 480px;
}

	#title{
		animation: title-anim_emergence 0ms 1;
		font-size: 7em;
		width: 240px;
		margin:-156px 0 0 -120px;

	}
	
	.name{
		padding:0;
		margin: 0;
		text-align: center;
		display: block;
		width: 100%;
	}

	#c{
		margin: 10px 0 0px 0;
		text-align:inherit;
	}

	#cr{
		width: 100%;
		max-width: 480px;
		text-align:inherit;
	}


	#list_projects a{
		font-size: 18px;
		color:#fff;
	}

	#list_projects{
		background-color: #111;
		border-radius: 0px;
		height: 60px;
		width:100%;
		border-bottom:solid 2px #000;
		border-top: none;
		border-left: none;
		border-right: none;
		margin: 0px 0;
		padding:  0 0 0 0;
		display: inline-block;
	}

	#list_projects img{
		border-radius: 0;
		
		width: 60px;
		height: 60px;
	}

	#description{
		display: none;
	}
	
	#description-media_sreen{
		width: 100%;
		padding: 3px 0 0 0px;
		display: inherit;
	}

	#description-media_sreen a{
		margin:  0 0 0 5px;
		font-size: 14px;
		display: inline-block;
	}
	
	description-media_sreen{
		font-size: 14px;
	}
	
	#fot_ico-menu{
		margin: 15px;
	}

	.zav img{
		border-right: solid 4px #8C8C8C;
	}
	
	.nezav img{
		border-right: solid 4px #941416;
	}
	
	.zabr img {
		border-right: solid 4px #330026;
	}
	
	#social{
		margin: 0;
	}
	
	#social_ico{
		margin: 0 3px 0 3px;
	}
}

@media (max-width: 297px), (handheld){
	body{
		min-width: 239px;
		width: 100%;
	}
	#list_projects img{
		display: none;
	}
	
	#list_projects{
		height: auto;
	}
	#social_ico{
		transform: scale(0.7,0.7);
		margin: 0 1px 0 1px;
	}
}



