@charset "utf-8";
:root{
	--main-bg-color:#170d16;
	--second-bg-color:#281627;
	--third-bg-color:#3D213C;
	--white-text-color:#E1E1E1;
	--main-text-color:#B7B7B7;
	--second-text-color:#BB92FF;
	--third-text-color:#CBB6ED;
	--main-font:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
@font-face{
	font-family:"Hattori Hanzo";
	src: url("../other/font.otf");	
}
::selection{
	background-color: #67267F;
}
#arrow,#fillthespace,#list_projects,.windows,.windows_links a,.windows_description,.place.section::before,.section::after,.project_name,.project_status,.project_links a::before,.social_ico,.p_windows_close,.windows_close::after,.windows_close::before{
	display: inline-block;
}
html {
	scroll-behavior: smooth;
}
html, body {
	scrollbar-color: #2B1729 #110910;
	scrollbar-width:thin;
}
body, #title{
	padding:0;
}
body{
	margin: 0;
	min-width: 800px;
	max-width: 100%;
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
}
#title, .projectScroll{
	display:inline-block;
	left:50%;
}
#par_h{
	position:absolute;
	top:50%;
	perspective: 400px;
	transform-style: preserve-3d;
	margin:-147px 0 0 -169px;
	left: 50%;
}
#title{
	transition: 50ms;
	text-shadow: 0px 0 0 #A72F31, 0px 0 0  #5A48D0;
	font-family:"Hattori Hanzo";
	color:var(--white-text-color);
	animation: title-anim_emergence 350ms 1;
	font-style:italic;
	font-size:9em;
	width:294px;
	height:auto;
	
}
.projectScroll{
    user-select: none;
    animation: project-anim_emergence 1s 1;
    position: absolute;
    margin-left: -27px;
    bottom: 30px;
    width: 30px;
    text-decoration: none;
}
#arrow::before {
	opacity: 0.6;
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-top:solid 2px #fff;
	border-right:solid 2px #fff;
	margin: 7px 0px -0px -4px;
}
#arrow{
	cursor: pointer;
	transition: 1s;
	opacity: 0.7;
	animation: arrow 2s infinite ease-in-out;
	transform: translateY(-5px) rotate(135deg);
	width: 30px;
	height: 30px;
	border-top:solid 2px #fff;
	border-right:solid 2px #fff;
	margin: 10px 0px 0px 10px;
}
.section{
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	display: inline-block;
	background-color: var(--main-bg-color);
	text-align: center;
	margin-top: -2px;
	font-family: var(--main-font);
	font-weight: 400;
	padding: 0;
	color:var(--third-text-color);
	font-size: 1.3em;
}
#section_par{
	text-align: center;
	margin-bottom: 10px;
}
.section-line{
	display: inline-block;
    height: 1px;
    border-top: dashed 1px rgba(203,182,237,0.59);
	width: 850px;
	text-align: center;
}
#fillthespace{
	height: 100vh;
	width: 0;
}
#list_of_projects-main{
	font-family: var(--main-font);
	display: block;
	color:var(--main-text-color);
	text-align: center;
}
#list_projects{
	max-width: 850px;
	min-width: 240px;
	text-align:left;
}

.project{
    margin: 10px 0;
}
.project::after{
	margin: 30px 0 0 0;
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--third-bg-color);
}
.project_name{
	margin: 0px 0 10px 0px;
	font-weight: 600;
	font-size: 20px;
}
.project_name a{
	cursor: pointer;
	text-decoration: none;
	color:var(--second-text-color);
}
.project_name a:hover{
	text-decoration: underline;
}
.project_status.complete{
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #8C8C8C;
}
.project_status.unfinished{
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #0969da;
}
.project_status.abandoned{
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #880000;
}
.project_description{
	margin: 0px 0 10px 0px;
	font-size: 16px;
}
.project_description a{
	color:var(--main-text-color);
}
.project_links{
	margin-left: -0px;
}
.project_links a{
	transition: 0ms;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
	color:var(--main-text-color);
}
.project_links a:hover{
	color:#B78283;
}
.project_links a[target~="_blank"]:hover::after{
	opacity: 1;
	background-position: 7px 0;
}
.project_links a::before{
	opacity: 1;
	color:rgba(255,255,255,0.7);
	text-decoration: none;
	font-weight: 100;
	margin: 0 3px;
	content: "·";
}
a[target~="_blank"]::after{
	content: "";
	opacity: 0.7;
	margin: 0 0 4px 2px;
	text-decoration: none;
	display:inline-block;
	width: 7px;
	height: 8px;
	background-position: 0 0;
	background-image: url("../img/new-tab_ico-white.webp");
}
.project_links a:first-of-type::before{
	content: none;
}
#social{
	background-attachment: fixed;
	background-image: url("../img/bofoc.webp");
	background-size: cover;
	text-align: center;
	margin: 40px 0 0 0;
	padding:10px 0 10px 0; 
	background-color: var(--second-bg-color);
}
.social_ico{
	padding: 0;
	margin: 0 15px 0 15px;
	opacity: .5;
}
.social_ico:hover{
	opacity: 1;
}
#zav_centr{
	text-align: center;
	min-width: 800px;
	display:block;
	width: 100%;
}
#projects_map-parent{
}
#projects_map{
	box-shadow: 1px 0 0 0 #3A46CC,-1px 0 0 0 #BC1C1E;
	width: auto;
	height: 35px;
	box-sizing:border-box;
	padding: 5px 10px 8px 10px;
	background-color: var(--second-bg-color);
	display: inline-block;
	margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 0.98em;
    color: var(--main-text-color);
}
.complete_status, .unfinished_status, .abandoned_status{
	border-radius: 100%;
	margin: 10px 2px 0 0px;
	display:inline-block;
	width: 8px;
	height: 8px;
}
.complete_status{
	background-color: #8C8C8C;
}
.unfinished_status{
	background-color: #0969da;
}
.abandoned_status{
	background-color: #880000;
}
#description-media_sreen{
	display: none;
}
#description-media_sreen a{
	display: none;
}
.window_main{
	z-index: 1;
	visibility: hidden;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.60);
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.windows{
	box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.6);
	text-align: center;
	width: 100%;
	background-color: var(--second-bg-color);
	color:var(--main-text-color);
	position: fixed;
	bottom: 0;
}
.windows_title{
	padding: 15px 0;
	font-weight: 600;
	font-size: 22px;
	background-color: var(--main-bg-color);
	color:var(--second-text-color);
	text-align: center;
}
.windows_links{
	max-width: 100%;
	min-width: 240px;
	padding: 10px 0 20px 0;
	font-weight: 600;
	font-size: 18px;
	color:var(--second-text-color);
	text-align: center;
}
.windows_links a{
	border: solid 2px #170d16;
	border-radius:8px;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,0.46);
	margin: 0 10px;
	color:#fff;
	text-decoration: none;
	padding: 5px;
	background-color: rgba(0,0,0,0.25);
}
.windows_description{
	overflow-y: auto;
	height: auto;
	max-height: 250px;
	max-width: 850px;
	min-width: 240px;
	padding: 20px 0px;
	font-size: 16px;
}
.windows_description a{
	color:#DBD4FB;
}
.p_windows_close{
	cursor: pointer;
	position: absolute;
	right:10%;
	margin-top: -32px;
	border:solid 4px #080408;
	background-color: #430A0D;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	padding: 5px;
}
.p_windows_close:hover{
	background-color: #1D020F;
}
.p_windows_close:active{
	background-color: #30071A;
}
.windows_close::after,.windows_close::before{
	transition: 300ms;
	position: absolute;
	content: "";
	margin: 11px 0 0px -13px;
	width: 26px;
	height: 3px;
	background-color: #fff;
	border-radius: 4px;
}
.windows_close::after{
	transform: rotate(45deg);
}
.windows_close::before{
	transform: rotate(-45deg);
}
.map_anim{
	animation: map_anim 600ms 1;
}
.show{
	animation: winShow 300ms 1;
}
#warning_noscript{
	opacity: 1;
}
#warning_toggle:checked ~ .warning_box{
	visibility: visible;
	transform: translateX(0px);
	opacity: 1;
}
.warning_btn,.warning_box{
	font-weight: 600;
	padding: 4px;
	position: fixed;
	top: 0px;
	display: inline-block;
	color: #000000;
	background-color: #8C2324;
}
.warning_btn{
	text-decoration: underline;
	left: 0px;
	cursor: pointer;
}
.warning_box{
	transform: translateX(-300px);
	opacity: 0;
	left: 58px;
	visibility: hidden;
}
#close_projects_map{
	box-shadow: 1px 0 0 0 #3a46cc, -1px 0 0 0 #bc1c1e;
	background-color: var(--main-bg-color);
	border: solid 1px var(--second-bg-color);
	border-radius: 50%;
	width: 14px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	margin: -35px 0 0 401px;
	font-weight: 500;
	font-size: 15px;
}
#close_projects_map-ico{
	margin: -3px 0;
}





