@charset "utf-8";
/* CSS Document */

@media (max-width: 850px) and (min-width: 481px), (handheld){
	body{
		min-width: 480px;
		width: 100%;
	}
	#title{
		font-size: 7em;
		width: 240px;
		margin:-156px 0 0 -120px;
	}
	.section{
		text-align: left;
		margin-bottom: 10px;
		font-family: 'Ubuntu', sans-serif;
		padding: 0;
		color:#cbb6ed;
		font-size: 22px;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}
	#social{
		margin: 0;
	}
	.social_ico{
		margin: 0 5px 0 5px;
	}
}
@media (max-width: 480px), (handheld){
	body{
		width: 100%;
		min-width: 319px;
		max-width: 480px;
	}
	#title{
		animation: title-anim_emergence 0ms 1;
		font-size: 7em;
		width: 240px;
		margin:-156px 0 0 -120px;
	}
	.project::after {
		margin: 10px 0 0 0;
	}
	.project_name{
		margin: 0;
		text-decoration: underline;
		text-decoration-color:#BB92FF;
		display: block;
		text-align: center;
	}
	.project_description{
		padding: 6px;
	}
	.project_status{ 
		position: absolute;
	}
	.project_status.complete{
		background-color: rgba(255,255,255,0.00);		
	}
	.project_links{
		display:none;
	}
	.section{
		text-align: left;
		margin-bottom: 10px;
		font-family: 'Ubuntu', sans-serif;
		padding: 0;
		color:#cbb6ed;
		font-size: 1.5em;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}
	#Projects_Map{
		display:none;
	}
	#social{
		margin: -10px;
	}
@media (max-width: 297px), (handheld){
	#title{
		margin:-90px 0 0 -120px;
	}
	body{
		min-width: 239px;
		width: 100%;
	}
	.section{
		margin-bottom: 0px;
		font-size: 1.2em;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}