@charset "utf-8";
/* CSS Document */
@keyframes bg-anim{
	0%{background-color:#0B060B;}
	100%{background-color:#170d16;}
}
@keyframes title-anim_emergence{
	0%{
		opacity: 0;
		text-shadow: -0px 0px 0 #FF0004,0px 0px 0 #2200FF;
		transform: scale(2.8,2.8);
	}
	10%{
		transition: scale(1.6,1.6);
		text-shadow: -0px 0px 0 #FF0004,0px 0px 0 #2200FF;
		opacity: 0;
	}
	100%{
		opacity:1;
		text-shadow: -2px 0px 0 #FF0004,2px 0px 0 #2200FF;
		transform: scale(1,1);
	}
}
@keyframes title-anim_static{
	0%{
		border-right: none;
	}
	50%{
		border-right: solid 2px #fff;
	}
	100%{
		border-right: none;
	}
}
@keyframes buggy-lamp{
	39%{color: #4D4337;text-shadow: 0 0 19px rgba(14,13,9,0.36);}
	40%{color:rgba(249,224,214,1.00);text-shadow: 0 0 20px rgba(216,206,138,0.36);}
	47%{color:rgba(249,224,214,1.00);text-shadow: 0 0 25px rgba(216,206,138,0.48);}
	48%{color: #4D4337;text-shadow: 0 0 15px rgba(14,13,9,0.36);}
	50%{color:rgba(249,224,214,1.00);text-shadow: 0 0 20px rgba(216,206,138,0.36);}
	59%{color:rgba(249,224,214,1.00);text-shadow: 0 0 25px rgba(216,206,138,0.54);}
	60%{color: #4D4337;text-shadow: 0 0 15px rgba(14,13,9,0.36);}
	61%{color:rgba(249,224,214,1.00);text-shadow: 0 0 25px rgba(216,206,138,0.59);}
	100%{color:rgba(249,224,214,1.00);text-shadow: 0 0 20px rgba(216,206,138,0.36);}
}
@keyframes project-anim_emergence{
	0%{
		transform: translateY(-110px);
		opacity: 0;}
	50%{
		opacity: 0;
	}
	100%{
		transform: translateY(-0px);
		opacity: 1;}
}
@keyframes map_anim{
	0%{opacity: 0;}
	50%{transform: translateY(-60px);opacity: 0;}
	100%{transform: translateY(-0px);opacity: 1;}
}
@keyframes opacit4{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes slide_right{
	0%{transform: translateX(-20px); opacity: 0;}
	100%{transform: translateX(0px); opacity: 1;}
}
@keyframes slide_left{
	0%{transform: translateX(20px); opacity: 0;}
	100%{transform: translateX(0px); opacity: 1;}
}
@keyframes arrow{
	0%{
		transform: translateY(-10px) rotate(135deg);
	}
	50%{
		transform: translateY(-0px)  rotate(135deg);
	}
	100%{
		transform: translateY(-10px) rotate(135deg);
	}
}