@charset "utf-8";
/* CSS Document */

@media (max-width: 850px) and (min-width: 481px), (handheld){
	body{
		min-width: 480px;
		width: 100%;
	}
	#par_h{
		margin:-156px 0 0 -120px;
	}
	#title{
		font-size: 7em;
		width: 240px;
	}
	#section_par{
		margin-bottom: 20px;
	}
	#list_projects{
		padding: 5px;
		box-sizing:border-box;
	}
	
	.section-line{
		display: none;
	}
	.section{
		text-align: center;
		margin-bottom: 10px;
		font-family: 'Ubuntu', sans-serif;
		padding: 0;
		color:#cbb6ed;
		font-size: 22px;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}
	#social{
		margin: 0;
	}
	.social_ico{
		margin: 0 5px 0 5px;
	}
	#projects_map{
		width: auto;
		padding: 0;
		background-color: rgba(0,0,0,0.00);
		display: inline-block;
    	margin-left: 0;
		margin-top: 20px;
    	margin-bottom: 0px;
    	border-radius: none;
    	font-size: 0.98em;
    	color: rgba(200,182,198,0.78);
	}
	#projects_map::after{
		content: none;
	}
}
@media (max-width: 480px), (handheld){
	body{
		width: 100%;
		min-width: 319px;
		max-width: 480px;
	}
	#par_h{
		margin:-156px 0 0 -120px;
	}
	#title{
		text-shadow: -2px 0 0 #D02F2F,2px 0 0 #2C4FD5;
		animation: title-anim_emergence 0ms 1;
		font-size: 7em;
		width: 240px;
	}
	.project{
		box-shadow: 2px 0 0 0 #6075c8, -2px 0 0 0 #cf4141, 4px 0 2px 0 rgb(0 39 196 / 60%), -4px 0 2px 0 rgb(255 0 0 / 40%), 10px 8px 0 0 #110a10;
		background-color: rgb(0 0 0 / 8%);
		border-top: dashed 1px #6075C8;
		border-bottom: dashed 1px #C46565;
		border-radius: 6px;
		margin: 20px;
	}
	.project_button{
		text-decoration: none;
	}
	.project_name a{
		text-decoration: none;
		text-shadow: 0 0 20px rgba(216,206,138,0.48);
		color:rgba(249,224,214,1.00);
	}
	.project::after {
		display: none;
	}
	.project_name{
		font-weight: 400;
		margin: 10px 0 2px;
		text-decoration-color:#BB92FF;
		display: block;
		text-align: center;
	}
	.project_description{
		color:rgba(208,189,182,1.00);
		padding: 6px;
	}
	.project_status{ 
		position: absolute;
	}
	.project_status.complete{
		background-color: rgba(255,255,255,0.00);		
	}
	.project_links{
		display:none;
	}
	#section_par{
		margin-bottom: 20px;
	}
	.section-line{
		display: none;
	}
	.section{
		margin-bottom: 20px;
		text-align:center;
		font-family: 'Ubuntu', sans-serif;
		padding: 0;
		color:#cbb6ed;
		font-size: 1.3em;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}
	.windows_links::before{
		color:#7C699B;
		font-size: 0.9em;
		content:"ССЫЛКИ:";
	}
	.windows_links a{
		display: block;
		border: solid 2px #6a4f97;
		box-shadow: none;
		margin: 6px 10px;
		width: auto;
	}
	#projects_map{
		display:none;
	}
	#social{
		margin: -10px 0;
	}
	.slide_right{
		animation: slide_right 500ms 1;
	}
	.slide_left{
		animation: slide_left 500ms 1;
	}
}
@media (max-width: 320px), (handheld){
	#par_h{
		margin:-90px 0 0 -120px;
	}
	#title{
	}
	body{
		min-width: 239px;
		width: 100%;
	}
	.section{
		margin-bottom: 0px;
		font-size: 1.2em;
	}
	.section::before{
		display: none;
	}
	.section::after{
		display: none;
	}
}
@media (max-height: 620px), (handheld){
	.windows_description{
		max-height: 130px;
	}
	.windows_links{
		overflow-y: auto;
		max-height: 120px;
	}
}